<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Include CDN JavaScript -->
  <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
  <style>
  html {
   font-size: 20px;
  }
  </style>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
</head>
<body class="bg-gray-100" x-data="{ products: [ {name: 'apple', quantity: 0, price: 3}, {name: 'orange', quantity: 0, price: 4}, {name: 'banana', quantity: 0, price: 5}]}">
  <div class="my-8 mx-auto p-4 max-w-xl">
    <h1 class="text-2xl text-gray-700 font-bold">Products</h1>

    <div class="mt-4 flex justify-around gap-x-2">
      <div class="text-center">
        <img src="apple.png" alt="apple" class="rounded shadow">
        <p class="mt-2 font-semibold text-lg">Apple</p>
        <p class="mt-2 text-base">$3</p>
        <button class="mt-4 bg-white text-gray-700 border border-gray-300 px-4 py-1 rounded text-sm shadow-sm hover:bg-gray-50" @click='products.find(product => product.name == "apple").quantity += 1'>Add to cart</button>
      </div>
      <div class="text-center">
        <img src="orange.png" alt="orange" class="rounded shadow">
        <p class="mt-2 font-semibold text-lg">Orange</p>
        <p class="mt-2 text-base">$4</p>
        <button class="mt-4 bg-white text-gray-700 border border-gray-300 px-4 py-1 rounded text-sm shadow-sm hover:bg-gray-50" @click='products.find(product => product.name == "orange").quantity += 1'>Add to cart</button>
      </div>
     <div class="text-center">
        <img src="banana.png" alt="banana" class="rounded shadow">
        <p class="mt-2 font-semibold text-lg">Banana</p>
        <p class="mt-2 text-base">$5</p>
        <button class="mt-4 bg-white text-gray-700 border border-gray-300 px-4 py-1 rounded text-sm shadow-sm hover:bg-gray-50" @click='products.find(product => product.name == "banana").quantity += 1'>Add to cart</button>
      </div>
    </div>
  </div>
  
  <div class="my-8 mx-auto p-4 max-w-xl">
    <h1 class="text-2xl text-gray-700 font-bold">Cart</h1>

    <div class="mt-4 flex flex-col bg-white shadow">
      <template x-if="!products.find(product => product.quantity > 0)">
        <h2 class="w-full text-center py-4">Cart is empty, add something!</h2>
      </template>

      <template x-for="product in products" :key="product.name">
        <div class="flex items-center justify-between gap-x-2 py-1 px-4 border-b border-gray-200" x-show="product.quantity > 0">
          <div class="flex flex-row items-center">
            <div class="relative p-2">
              <img :src="product.name + '.png'" :alt="product.name" class="rounded w-12 h-12">
              <div class="absolute right-0 top-0 rounded-full bg-gray-600 opacity-75 text-white text-sm px-1.5">
                <span x-text="product.quantity"></span>
              </div>
            </div>
            <p class="ml-2 text text-gray-700 font-semibold capitalize" x-text="product.name"></p>
          </div>
          <div class="text-right">
            <p class="text text-gray-700 font-semibold">$<span x-text="product.price * product.quantity"></span></p>
          </div>
        </div>
      </template>
    </div>

    <div class="flex justify-between">
      <button class="underline text-gray-700 text-sm" @click="products.forEach((product, index) => products[index].quantity = 0)">Clear Cart</button>

      <form method="POST" action="/checkout">
        <template x-for="product in products" :key="product.name">
          <div>
            <input type="hidden" name="products[][name]" :value="product.name"/>
            <input type="hidden" name="products[][quantity]" x-bind:value="product.quantity"/>
            <input type="hidden" name="products[][price]" x-bind:value="product.price"/>
          </div>
        </template>
        <button type="submit" class="mt-4 bg-green-600 text-white border border-green-500 px-4 py-1 rounded text-sm shadow-sm hover:bg-green-700" :class="{ 'opacity-50': !products.find(product => product.quantity > 0) }" :disabled="!products.find(product => product.quantity > 0)">Proceed to Checkout</button>
      </form>
    </div>
  </div>
</body>
</html>